.toast {
    position: fixed;
    left: 50%;
    bottom: 20px;
    background: var(--bg-primary);
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 0 0 20px var(--shadow-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-primary);
    gap: 10px;
    transform: translateX(-50%);
    overflow: hidden;
}


.toast::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: var(--accent-primary);
    border-radius: 30px;
    animation: timer 1s linear forwards;

}

@keyframes timer {
    0% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}